@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  /*background: #181a1b;*/
  background: rgb(24,26,27);
  background: linear-gradient(0deg, rgba(24,26,27,1) 0%, rgba(8,38,69,1) 100%);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.el-textarea__inner {
  min-height: 32px;
  max-height: 175px;
  border: 1px solid var(--el-input-focus-border-color);
  box-shadow: none;
  border-radius: 5px;
}

.el-table th.column.el-table__cell {
  background-color: transparent ;
}
